<!-- public/views/home.html -->

<div ng-controller="ContactController">
	<h1>Contact Manager</h1>
	<table class="table">
		<thead>
			<th>Name</th>
			<th>Email</th>
			<th>Contact</th>
			<th>Action</th>
			<th>&nbsp;</th>
		</thead>
		<tbody>
			<tr>
				<td><input class="form-control" ng-model="contact.name"></td>
				<td><input class="form-control" ng-model="contact.email"></td>
				<td><input class="form-control" ng-model="contact.contact"></td>
				<td>
					<button class="btn btn-primary" ng-click="addNewContact(contact)">Add</button>
					<button class="btn btn-info" ng-click="updateContact(contact)">Update</button>
				</td>
			</tr>
			<tr ng-repeat="contact in contacts">
				<td>{{contact.name}}</td>
				<td>{{contact.email}}</td>
				<td>{{contact.contact}}</td>
				<td>
					<button class="btn btn-warning" ng-click="editContact(contact._id)">Edit</button>
					<button class="btn btn-danger" ng-click="removeContact(contact._id)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>	
</div>